# Statamic files #
######################
statamic/_cache/*
!statamic/_cache/index.html
statamic/_logs/*
!statamic/_logs/index.html
statamic/settings.yaml
statamic/_config/settings.yaml
statamic/_config/users/admin.yaml
